body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 1s infinite;
}

.container {
    
    margin: 50px auto;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flexbox;
    align-items: center;
    text-align: center;
}
.gender {
    display: inline-block;
    text-align: center;
}
label {
    display: inline-block;
    margin-bottom: 5px;
    align-items: center;
    font-size:larger;
}
#hobbiesForm {
    display: none;
}
#nextButton{
    padding: 10px 20px;
        background-color: #f30a73;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
        align-self: center;

}

button {
    width: 48%;
    padding: 10px;
    padding-right: 5%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#logout-btn {
    width: 48%;
    
    background-color: #dc3545;
    color: #fff;
    padding-left: 5%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

#logout-btn:hover {
    background-color: #c82333;
}
input{
    border-radius: 10px;
    height: 30px;
   
}